Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
# (i) string
my_string = "Hello, World!"

# (ii) list
my_list = [1, 2, 3, 4, 5]

# (iii) float
my_float = 3.14

# (iv) tuple
my_tuple = (6, 7, 8, 9, 10)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [4]:
# (i) var1 = ' '
var1 = ' '

# (ii) var2 = '[ DS , ML , Python]'
var2 = '[ DS , ML , Python]'

# (iii) var3 = ['DS', 'ML', 'Python']
var3 = ['DS', 'ML', 'Python']

# (iv) var4 = 1
var4 = 1

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
a = 10
b = 3
result = a / b
print(result)

3.3333333333333335

In [6]:
a = 10
b = 3
result = a % b
print(result)

1

In [7]:
a = 10
b = 3
result = a // b
print(result)

3

In [8]:
a = 2
b = 3
result = a ** b
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
my_list = [10, 'Hello', 3.14, True, [1, 2, 3], {'name': 'John'}, (4, 5, 6), None, 8.9, 'World']

for element in my_list:
    print("Element:", element)
    print("Data Type:", type(element))
    print()

Element: 10
Data Type: <class 'int'>

Element: Hello
Data Type: <class 'str'>

Element: 3.14
Data Type: <class 'float'>

Element: True
Data Type: <class 'bool'>

Element: [1, 2, 3]
Data Type: <class 'list'>

Element: {'name': 'John'}
Data Type: <class 'dict'>

Element: (4, 5, 6)
Data Type: <class 'tuple'>

Element: None
Data Type: <class 'NoneType'>

Element: 8.9
Data Type: <class 'float'>

Element: World
Data Type: <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [10]:
A = 100
B = 5
count = 0

while A % B == 0:
    A = A // B
    count += 1

print("Number A can be divided", count, "times by number B.")

Number A can be divided 2 times by number B.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [12]:
my_list = [10, 5, 9, 12, 18, 7, 21, 14, 27, 30, 11, 33, 16, 8, 22, 36, 15, 4, 25, 6, 13, 20, 28, 17, 32]

for num in my_list:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

10 is not divisible by 3
5 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
18 is divisible by 3
7 is not divisible by 3
21 is divisible by 3
14 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
11 is not divisible by 3
33 is divisible by 3
16 is not divisible by 3
8 is not divisible by 3
22 is not divisible by 3
36 is divisible by 3
15 is divisible by 3
4 is not divisible by 3
25 is not divisible by 3
6 is divisible by 3
13 is not divisible by 3
20 is not divisible by 3
28 is not divisible by 3
17 is not divisible by 3
32 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [13]:
string1 = "Hello"
string2 = string1
string1 += " World"

print(string1)  # Output: Hello World
print(string2)  # Output: Hello

Hello World
Hello